
p, h1, h2, h3, h4, h5 {
  color: #CAF0F8;
}
p{
  font-size: 15px;
}

body{
  background-color: #03045E;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #023e8aff;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

/* Change the link color on hover */
li a:hover {
  background-color: #0096c7ff;
  color: #CAF0F8;
}
li a{
  padding: 23px 25px;
  float: left;
  font-size: large;
  text-align: center;
  text-decoration: none;
  color: #CAF0F8;
}
.backDrop {
  background-color: #023e8aff;
  word-wrap: break-word;
  padding: 15px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  
  /* bring your own prefixes */
  /*transform: translate(-50%, -50%);*/
}

.rounded{
  border-radius: 10px;
}
table {
  background-color: #90e0efff;
}
th, td {
  border: 80px solid #023e8aff;
  padding: 40px;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20%;

}
.grid-item {
  background-color: #48cae4ff;
  border: 1px solid #0096c7ff;
  padding: 5%;
  font-size: 30px;
  text-align: center;
}

.grid-item:hover{
  animation: bounce 3s infinite linear;
}
@keyframes bounce {
  0%, 50%, 100% {transform: rotate(0deg) scale(100%);} 
  25% {transform: rotate(-2deg) scale(103%);} 
  75% {transform: rotate(2deg) scale(97%);} 
} 
/*
 CSS HEX 
--navy-blue: #03045eff;
--dark-cornflower-blue: #023e8aff;
--star-command-blue: #0077b6ff;
--blue-green: #0096c7ff;
--cerulean-crayola: #00b4d8ff;
--sky-blue-crayola: #48cae4ff;
--sky-blue-crayola-2: #90e0efff;
--blizzard-blue: #ade8f4ff;
--powder-blue: #caf0f8ff;
*/