@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
p, h1, h2, h3, h4, h5, a, th {
  color: #CAF0F8;
  font-family: 'Architects Daughter', cursive;
}
p{
  font-size: 20px;
}
html {
  scroll-behavior: smooth;
}
body{
  background-color: #caf0f8;
}
h2{
  font-size: 28px;
}
div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
  }

tr td{
  width: 200px;
  text-align: center;
}

.programIcon{
  width: 60%;
  height: 60%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  background-color: #023e8aff;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}
#subBox{
  background-color: #023e8aff;
  padding: 1px;
  margin-left: 5%;
  margin-right: 5%;
}

/* Change the link color on hover */
li a:hover {
  background-color: #0096c7ff;
  color: #CAF0F8;
}
li a{
  padding: 28px 25px;
  float: left;
  font-size: 21.5px;
  text-align: center;
  text-decoration: none;
  color: #CAF0F8;
}
.backDrop {
  background-color: #000000;
  word-wrap: break-word;
  padding: 15px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
}

.rounded{
  border-radius: 10px;
}
.roundedExtreme{
  border-radius: 50px;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.grid-container {
  display: grid;
  border-color: white;
  border: 5px solid;
}

.flexBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.grid-item {
  background-color: #023e8aff;
  border: 3px solid #caf0f8ff;
  padding: 0.3%;
  font-size: 30px;
  font-family: 'Architects Daughter', cursive;
  text-align: center;
  color: #caf0f8ff;
  animation: shrink 0.1s backwards linear;
}

.grid-space{
  margin: 1.5%;
  margin-bottom: 8%;
}
.grid-item:hover{
  box-shadow: #caf0f8ff 0em 0em 0.7em;
  animation: bounce 0.1s  forwards linear;
}

.socialMedia{
  float: right;
  font-size: 30px;
}
.label {
  float: left;
  padding-left: 5%;
}
.tooltip {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.tooltip .tooltiptext {
  font-family: 'Architects Daughter', cursive;
  width: 120px;
  text-decoration: none;
  background-color: #023e8aff;
  color: #caf0f8ff;
  border-color: #ade8f4ff;
  border: 1px solid;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.4s;
  animation: fall 0.4s forwards linear;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  box-shadow: #caf0f8ff 0em 0em 0.7em;
  animation: rise 0.4s  forwards linear;
}

table {
  border-collapse: separate;
  border-spacing: 50px;
  *border-collapse: expression('separate', cellSpacing='10px');
}

td {
  min-height: 100px;
  min-width: 100px;
  margin: 20px;
  display: inline-block;
}
th {
  font-size: 30px;
}
.dropDown {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.dropDown .dropDowntext{
  width: 100%;
  text-decoration: none;
  background-color: black;
  color: #caf0f8ff;
  border-color: #ade8f4ff;
  border: 1px solid;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 0;
  left: 18.5%;
  margin-left: -60px;

}
.personalPhoto{
  width: 50%;
  height: 50%;
}
ul.centeredList{
  text-align: center;
  background-color: black;
  color: #caf0f8ff;
}
@keyframes rise{
  0% {transform: translateY(0);}
    100% {transform: translateY(-15px);}
  }
@keyframes fall {
  0% {transform: translateY(-15px);}
  100% {transform: translateY(15px);}
}
@keyframes bounce {
  0% {transform: scale(100%);}
  100% {transform: scale(103%);}
} 
@keyframes shrink {
  0% {transform: scale(103%);}
  100% {transform: scale(100%);}
}
.indent{
  text-indent: 40px;
}

.slider {
  width: 700px;
  margin: 0 auto 20px;
  text-align: center;
}

.slider .photos {
  position: relative;
  height: 433px;
}

.slider .photos img {
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
}

.slider .photos img.shown {
  opacity: 1;
}

.prev:before, .next:before {
color: #fff;
font-size: 100px;
position: absolute;
top: 35%;
cursor: pointer;
}

.prev:before {
content: '<';
left: 0;
}

.next:before {
content: '>';
right: 0;
}
/*
 CSS HEX 
--navy-blue: #03045eff;
--dark-cornflower-blue: #023e8aff;
--star-command-blue: #0077b6ff;
--blue-green: #0096c7ff;
--cerulean-crayola: #00b4d8ff;
--sky-blue-crayola: #48cae4ff;
--sky-blue-crayola-2: #90e0efff;
--blizzard-blue: #ade8f4ff;
--powder-blue: #caf0f8ff;
*/
